/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

#prismjs code[class*="language-"],
#prismjs pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

#prismjs pre[class*="language-"]::-moz-selection,
#prismjs pre[class*="language-"] ::-moz-selection,
#prismjs code[class*="language-"]::-moz-selection,
#prismjs code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

#prismjs pre[class*="language-"]::selection,
#prismjs pre[class*="language-"] ::selection,
#prismjs code[class*="language-"]::selection,
#prismjs code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  #prismjs code[class*="language-"],
  #prismjs pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
#prismjs pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

#prismjs :not(pre) > code[class*="language-"],
#prismjs pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
#prismjs :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

#prismjs .token.comment,
#prismjs .token.prolog,
#prismjs .token.doctype,
#prismjs .token.cdata {
  color: slategray;
}

#prismjs .token.punctuation {
  color: #999;
}

#prismjs .token.namespace {
  opacity: 0.7;
}

#prismjs .token.property,
#prismjs .token.tag,
#prismjs .token.boolean,
#prismjs .token.number,
#prismjs .token.constant,
#prismjs .token.symbol,
#prismjs .token.deleted {
  color: #905;
}

#prismjs .token.selector,
#prismjs .token.attr-name,
#prismjs .token.string,
#prismjs .token.char,
#prismjs .token.builtin,
#prismjs .token.inserted {
  color: #690;
}

#prismjs .token.operator,
#prismjs .token.entity,
#prismjs .token.url,
#prismjs .language-css .token.string,
#prismjs .style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: hsla(0, 0%, 100%, 0.5);
}

#prismjs .token.atrule,
#prismjs .token.attr-value,
#prismjs .token.keyword {
  color: #07a;
}

#prismjs .token.function,
#prismjs .token.class-name {
  color: #dd4a68;
}

#prismjs .token.regex,
#prismjs .token.important,
#prismjs .token.variable {
  color: #e90;
}

#prismjs .token.important,
#prismjs .token.bold {
  font-weight: bold;
}
#prismjs .token.italic {
  font-style: italic;
}

#prismjs .token.entity {
  cursor: help;
}
