.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  color: #ddd;
}
.hljs-subst,
.hljs-params {
  color: #ddd;
}
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-strong,
.hljs-tag {
  color: #f92672;
}

.hljs-keyword,
.hljs-code {
  color: #66d9ef;
}
.hljs-class .hljs-title {
  color: #fff;
}
.hljs-attribute,
.hljs-link,
.hljs-regexp,
.hljs-number,
.hljs-symbol {
  color: #bf79db;
}
.hljs-string {
  color: #e6db74;
}
.hljs-addition,
.hljs-built_in,
.hljs-builtin-name,
.hljs-bullet,
.hljs-emphasis,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-meta,
.hljs-variable {
  color: #a6e22e;
}
.hljs-comment,
.hljs-deletion,
.hljs-quote {
  color: #75715e;
}
.hljs-doctag,
.hljs-literal,
.hljs-section,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-title,
.hljs-type {
  font-weight: 700;
}
