#vscode .mtk1 { color: #f8f8f2; }
#vscode .mtk2 { color: #272822; }
#vscode .mtk3 { color: #88846f; }
#vscode .mtk4 { color: #e6db74; }
#vscode .mtk5 { color: #f92672; }
#vscode .mtk6 { color: #ae81ff; }
#vscode .mtk7 { color: #66d9ef; }
#vscode .mtk8 { color: #a6e22e; }
#vscode .mtk9 { color: #fd971f; }
#vscode .mtk10 { color: #f44747; }
#vscode .mtk11 { color: #cfcfc2; }
#vscode .mtk12 { color: #75715e; }
#vscode .mtk13 { color: rgba(174, 129, 255, 0.63); }
#vscode .mtk14 { color: #6796e6; }
#vscode .mtk15 { color: #cd9731; }
#vscode .mtk16 { color: #b267e6; }
#vscode .mtki { font-style: italic; }
#vscode .mtkb { font-weight: bold; }
#vscode .mtku { text-decoration: underline; text-underline-position: under; }